<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ko">
<style>
    body {

    }
</style>
<body style="background-image: url('https://interiorbay.co.kr:54306/design/upload_file/BD38940/fb655d3ac7a89f5b0dd759534ba7ae5b_78110_1.jpg');
    height:800px;">

<div layout:fragment="content">
<h1 th:if="${member}" th:text="${member.getUsername()}"> hello</h1>
</div>

</body>

</html>