<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ko">

<div layout:fragment="content">
    <h1>마이페이지</h1>
    <h1 th:if="${member}" th:text="${member.getUsername()}"></h1>
    <img src="|/img/${member.getId()}/QR.png|">

<!--    <img th:src="|@{/img/QR.png}|">-->
    <img th:src="|@{img/icon.png}|">
<!--    <img th:src="|@{/img/}${member.getId()}/QR.png|" style="width: 200px; height:200px;">-->
<!--    <img th:src="|/img/${member.getId()}/QR.png|" style="width: 200px; height:200px;">-->
<!--    <img src="static/img/7/QR.png" style="width: 200px; height:200px;">-->
<!--    <img src="/img/9/QR.png" style="width: 200px; height:200px;">-->
<!--    <img src="resources/static/img/7/QR.png" style="width: 200px; height:200px;">-->
</div>

</html>