<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ko">



<div layout:fragment="content">
    <style>
          .btn1 {
        border: 1px solid;
        background-color: white;
        width: 200px;
        height: 100px;
<!--        display: flex;-->
        align-items: center;
        justify-content: center;
      }
            .clicked {
        background-color: #87ceeb;
      }
</style>
    <div class="row">
        <br><br><hr>
        <div class="col-2">
            <h1>예약 페이지</h1>
        </div>
        <div class="col-1">
            <br><br>
<!--            <div  class="div2" th:text="${sits[3].getId()}">4</div> <br><br>-->
<!--            <div  class="div2" th:text="${sits[3].getId()}">4</div> <br><br>-->
            <button th:if="${sit4}" th:text="|${sit4}|" class="btn1 4">4</button>
            <button th:unless="${sit4}"  class="btn1 4">4</button><br><br>

            <button th:if="${sit3}" th:text="|${sit3}|"  class="btn1 3">3</button>
            <button th:unless="${sit3}"   class="btn1 3">3</button><br><br>

            <button th:if="${sit2}" th:text="|${sit2}|"  class="btn1 2">2</button>
            <button th:unless="${sit2}"  class="btn1 2">2</button><br><br>

            <button th:if="${sit1}" th:text="|${sit1}|" class="btn1 1">1</button>
            <button th:unless="${sit1}"  class="btn1 1">1</button><br><br>

            <br><br>

        </div>
        <div class="col-6">
            <button th:if="${sit5}" th:text="|${sit5}|" style=" margin-left: 20px" class="btn1 5">5</button>
            <button th:unless="${sit5}"  style=" margin-left: 20px" class="btn1 5">5</button>

            <button th:if="${sit6}" th:text="|${sit6}|" style=" margin-left: 20px" class="btn1 6" >6</button>
            <button th:unless="${sit6}"  style=" margin-left: 20px" class="btn1 6" >6</button>

            <button th:if="${sit7}" th:text="|${sit7}|" style=" margin-left: 20px" class="btn1 7" >7</button>
            <button th:unless="${sit7}"  style=" margin-left: 20px" class="btn1 7" >7</button>

            <button th:if="${sit8}" th:text="|${sit8}|" style=" margin-left: 20px" class="btn1 8">8</button>
            <button th:unless="${sit8}"  style=" margin-left: 20px" class="btn1 8">8</button>

            <button th:if="${sit9}" th:text="|${sit9}|" style=" margin-left: 20px" class="btn1 9">9</button>
            <button th:unless="${sit9}"  style=" margin-left: 20px" class="btn1 9">9</button>
            <br><br>

            <button th:if="${sit14}" th:text="|${sit14}|" style=" margin-left: 140px; margin-top: 30px" class="btn1 14" >14</button>
            <button th:unless="${sit14}"  style=" margin-left: 140px; margin-top: 30px" class="btn1 14" >14</button>

            <button th:if="${sit15}" th:text="|${sit15}|" style=" margin-left: 20px; margin-top: 30px" class="btn1 15" >15</button>
            <button th:unless="${sit15}"  style=" margin-left: 20px; margin-top: 30px" class="btn1 15" >15</button>

            <button th:if="${sit16}" th:text="|${sit16}|" style=" margin-left: 20px; margin-top: 30px" class="btn1 16" >16</button>
            <button th:unless="${sit16}"  style=" margin-left: 20px; margin-top: 30px" class="btn1 16" >16</button>
            <br><br>

            <button th:if="${sit17}" th:text="|${sit17}|" style=" margin-left: 140px;margin-top: 70px" class="btn1 17" >17</button>
            <button th:unless="${sit17}"  style=" margin-left: 140px;margin-top: 70px" class="btn1 17" >17</button>

            <button th:if="${sit18}" th:text="|${sit18}|" style=" margin-left: 20px;margin-top: 70px" class="btn1 18" >18</button>
            <button th:unless="${sit18}"  style=" margin-left: 20px;margin-top: 70px" class="btn1 18" >18</button>

            <button th:if="${sit19}" th:text="|${sit19}|" style="margin-left: 20px;margin-top: 70px" class="btn1 19" >19</button>
            <button th:unless="${sit19}"  style=" margin-left: 20px;margin-top: 70px" class="btn1 19" >19</button>

            <br><br><br><br><br><br> <button style="float:right" class="btn btn-primary sub">예약하기</button>
            <a style="float:right" href="/reserve/clear" class="btn btn-primary">전체 초기화</a>
            <a style="float:right" th:if="${member}" th:href="|/reserve/clear/${member.getId()}|" class="btn btn-primary">초기화</a>

        </div>
        <div class="col-1">
            <br><br>
            <button th:if="${sit10}" th:text="|${sit10}|"  class="btn1 10" >10</button>
            <button th:unless="${sit10}"   class="btn1 10" >10</button> <br><br>

            <button th:if="${sit11}" th:text="|${sit11}|"  class="btn1 11">11</button>
            <button th:unless="${sit11}"   class="btn1 11">11</button> <br><br>

            <button th:if="${sit12}" th:text="|${sit12}|" s class="btn1 12">12</button>
            <button th:unless="${sit12}"   class="btn1 12">12</button> <br><br>

            <button th:if="${sit13}" th:text="|${sit13}|"  class="btn1 13">13</button>
            <button th:unless="${sit13}"   class="btn1 13">13</button> <br><br>


            <!--                <button class="btn btn-primary" style="margin-top: 30px ;width: 100px; height: 50px" th:if="${sit}" th:text="${sit.getSit_id()}" >안녕하세요</button>-->
        </div>
        <div class="col-2">
            <div>
                <!--                <button class="btn btn-primary" style="margin-top: 30px ;width: 100px; height: 50px" th:if="${sit}" th:text="${sit.getSit_id()}" >안녕하세요</button>-->
            </div>
        </div>

    </div>
<!--서버에서 오는 메시지-->
    <script th:inline="javascript">
    var message = [[${msg}]];
        if(message) {
            alert(message);
        }
    </script>

<!--    버튼을 누르면 -->
    <script>

    var div2 = document.getElementsByClassName("btn1");
    var sub = document.getElementsByClassName("sub");

      function postValue(event) {
      for(var i = 0; i < div2.length; i++) {
      if(div2[i].classList[2] === "clicked") {
            location.href="/reserve/price?num="+div2[i].classList[1];    <!--//예약하기 버튼을 누르면 url로 이동한다.-->
      }}}

      function handleClick(event) {
        console.log(event.target);
        // console.log(this);
        // 콘솔창을 보면 둘다 동일한 값이 나온다

        console.log(event.target.classList);

        if (event.target.classList[2] === "clicked") {
          event.target.classList.remove("clicked");
        } else {
          for (var i = 0; i < div2.length; i++) {
            div2[i].classList.remove("clicked");
          }

          event.target.classList.add("clicked");

        }
      }

      function init() {
        for (var i = 0; i < div2.length; i++) {
          div2[i].addEventListener("click", handleClick);
        }
        sub[0].addEventListener("click", postValue);
      }

      init();
</script>
</div>

</html>